.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#login{
  position: absolute;
  right: 10px;
}
#register{
  position: absolute;
  right: 70px;
}
#logout{
  position: absolute;
  right: 10px;
}

.mat-toolbar{
  position: relative;
}

.white{
  color: aliceblue;
  text-decoration: none;
}