<!-- <h2>list of books</h2>
    <ul>
        <li *ngFor = "let book of books">
            {{book.title}} by {{book.author}}
        </li>

    </ul> -->

<!-- <mat-expansion-panel >
        <mat-expansion-panel-header>
            <mat-panel-title>
                This is the expansion title
            </mat-panel-title>
            <mat-panel-description>
                This is a summary of the content
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
    </mat-expansion-panel> -->

<p *ngIf="!(this.authService.getUser() | async)">You are not logged in</p>
<mat-accordion *ngIf="(this.authService.getUser() | async)">
<button mat-button>
    <mat-icon (click)= "addstate=!addstate">add</mat-icon>
    <app-add-book
    [hidden]="!addstate"  
    (update)="add($event); addstate=!addstate"
    (closeEdit)="addstate=!addstate"
   

    >
    </app-add-book>

</button>
    <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false" 
                          *ngFor="let book of books; let i=index">
        <mat-expansion-panel-header >
            <mat-panel-title>
                {{book.title}}
            </mat-panel-title>
            <mat-panel-description>
                {{book.author}}
            </mat-panel-description>
            <mat-panel-description>

                <button mat-button >
                    <mat-icon (click) ="onDelete(book.id)">delete_forever</mat-icon>
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-button >
            <mat-icon (click) ="editstate[i]=!editstate[i]">edit</mat-icon>
        </button>
        <app-book-form  
        [hidden]="!editstate[i]"  
        [title]="book.title"
        [author]="book.author"
        [id]="book.id"
        (update)="update($event); editstate[i]=!editstate[i]"
        (closeEdit)="editstate[i]=!editstate[i]"
        >
        </app-book-form>
        <p >{{book.summary}}</p>
    </mat-expansion-panel>
</mat-accordion>
<div>
<button mat-button (click) ="nextPage()" >
  Next page
</button>
<button mat-button (click) ="previusPage()" >
    Previous page
  </button>
</div>