<label id="example-radio-group-label">Pick your favorite Channel</label>
<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="favoriteChannel">
    <mat-radio-button class="example-radio-button" *ngFor="let channelx of channels" [value]="channelx">
        {{channelx}}
    </mat-radio-button>
</mat-radio-group>
<div>Your favorite channel is: {{favoriteChannel}}</div>
<mat-form-field  style="width: 400px">
    <mat-label>text to classify</mat-label>
    <textarea matInput 
             [(ngModel)] = "text"
             name = "text"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="10"
              cdkAutosizeMaxRows="20"></textarea>
  </mat-form-field>
  <button mat-button (click) ="classify()" >
    Classify
  </button>
<div>
  {{category}} <img [src] = "categoryImage">
</div>

 
  