<mat-card>
    <h1>Add a new book</h1>
    <form #bookForm= "ngForm">
       <div>
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput 
            [(ngModel)] = "title"
            name = "title"
            required>
          </mat-form-field> 
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Author</mat-label>
            <input matInput 
            [(ngModel)] = "author"
            name = "author"
            required>
          </mat-form-field> 
       </div> 
       <div>
            <button mat-raised-button color="primary"
                    (click)="updateParent()">
                    Add
                </button>
            <button mat-raised-button color="secondry"
                    (click)="tellParentToClose()">
                    Cancel
                </button>
       </div>
       <!-- <p *ngIf="this.isError">{{this.errorMessage}}</p> -->
    </form>
</mat-card>