<p *ngIf ="!(temperatures)&&!hasError">Loding data..</p>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title *ngIf ="!hasError">Temperatures in {{city}} is {{temperatures | number :'1.0-0'}} º</mat-card-title>
      <mat-card-title *ngIf ="hasError">{{errorMessage}}</mat-card-title>
      <mat-card-subtitle *ngIf ="!hasError"><img [src] = "image"></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src] = "image"  alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Country: {{country}}</p>
      <p>Longtidude: {{lon}}, Latidude: {{lat}}</p>
      <a routerLink="/city" routerLinkActive="active">Select city</a>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
